/* Custom Properties  */
:root {
/* Color Pallete */

  --color-neutral-300:#fff;
  --color-neutral-400:#2A2B2A;
  --color-primary-300: #04F06A;
  --color-primary-400:#8661C1;
  --color-secondary-400:#6BAA75;
  --color-secondary-700: #F2A541;

/* Font Sizes */

  --fs-small: 2rem;
  --fs-medium: 3rem;
  --fs-large: 4rem;

  font-family: 'DM Sans', 'Arial', san-serif;
  font-weight: 700;
}

/* Utility Font-size classes */
.fs-small {
  font-size: var(--fs-small);
}

.fs-medium {
  font-size: var(--fs-medium);
}

.fs-large {
  font-size: var(--fs-large);
}

/* Other utility classes */
.center {
  margin-inline: auto;
}

/* Default Layout */

body { 
  background: var(--color-neutral-400);
  color: var(--color-primary-400);
  text-align: center;
}

.container {
  min-height: 100lvh;
  padding-block-end: 4rem;
  width: min(100% - 2rem, 1300px);
  background: var(--color-neutral-300);
  box-shadow: 0px 0px 75px -15px rgba(255, 255, 255, .7);
}

/* Header Styling */
.header {
  padding-block: 4rem 2rem;
}

.header_message {
  margin-block: 2rem;
  width: min(100% - 5rem, 60ch);
  text-shadow: 0px 0px 25px var(--color-primary-300);
}

/* Card Styling */
.card {
  padding-inline: 4rem;
  width: min(100% - 5rem, 700px);
}

.card_breed {
  display: none;
  padding-block-end: 4rem;
  min-height: 500px;
  box-shadow: -2px -4px 12px -2px rgba(0, 0, 0, .6);
  transition: all;
}

.card_breed-title {
  margin-block: 1rem 2rem;
  padding-block-start: 2rem;
}

.card_image {
  border-radius: 5px;
  box-shadow: -2px -4px 25px -5px rgba(0, 0, 0, 0.5);
}

/* Form Styling */
.form_query {
  padding-block-start: 2rem;
}

.form_query * {
  margin-block-end: 2rem;
}

.input_breed,
.button_fetch {
  border: 3px solid var(--color-secondary-700);
  display: block;
  border-radius: 10px;
  color: var(--color-secondary-700);
  transition: box-shadow 125ms ease-in,
              border 125ms ease-in;
}

.input_breed:focus-visible,
.button_fetch:focus-visible,
.button_fetch:hover {
  outline: none;
  border: 3px solid var(--color-primary-400);
  box-shadow: 0px 0px 15px -5px var(--color-primary-400);
}

.input_breed {
  text-align: center;
}

/* Button Styling */

.button {
  padding-inline: 2rem;
  background: transparent;
}